# {{ ansible_managed }}

[DEFAULT]
bind_host = {{ hostvars[inventory_hostname]['ansible_br_mgmt']['ipv4']['address'] }}

# Deploy the v1 OpenStack Images API. (boolean value)
enable_v1_api = true

# Deploy the v2 OpenStack Images API. (boolean value)
enable_v2_api = true

# Deploy the v1 OpenStack Registry API. (boolean value)
enable_v1_registry = true

# Deploy the v2 OpenStack Registry API. (boolean value)
enable_v2_registry = true

enable_v1_api = true
enable_v1_registry = true

[database]
connection = mysql+pymysql://{{ glance_db_user }}:{{ glance_db_pass }}@{{ internal_vip }}/{{ glance_db_name }}

[keystone_authtoken]
auth_uri = http://{{ internal_vip }}:5000
auth_url = http://{{ internal_vip }}:35357
memcached_servers = {{ memcached_servers }}
auth_type = password
project_domain_name = {{ glance_service_project_domain_id }}
user_domain_name = {{ glance_service_user_domain_id }}
project_name = {{ glance_service_project_name }}
username = {{ glance_service_user_name }}
password = {{ glance_service_user_pass }}

[paste_deploy]
flavor = keystone
