# Root password for the database
galera_root_pass: 

# Password of user admin
keystone_admin_user_password:

# Ceilometer
# Database password for the Telemetry service
CEILOMETER_DBPASS: 	
# Password of Telemetry service user ceilometer
CEILOMETER_PASS:
# Database password for the Block Storage service
CINDER_DBPASS: 	
# Cinder
# Password of Block Storage service user cinder
CINDER_PASS: 	

# Database password for the dashboard
DASH_DBPASS: 	
# Password of user demo
DEMO_PASS: 	
# Database password for Image service
GLANCE_DBPASS: 
# Password of Image service user glance	
GLANCE_PASS: 	
# Database password for the Orchestration service
HEAT_DBPASS: 	
# Password of Orchestration domain
HEAT_DOMAIN_PASS: 
# Password of Orchestration service user heat	
HEAT_PASS: 	
# Database password of Identity service
KEYSTONE_DBPASS: 	
# Database password for the Networking service
NEUTRON_DBPASS: 	
# Password of Networking service user neutron
neutron_service_user_pass: 	
neutron_metadata_agent_secret: 
# Database password for Compute service
NOVA_DBPASS:
# Password of Compute service user nova 	
NOVA_PASS: 	
RABBIT_PASS: 	Password of user guest of RabbitMQ
# Password of Object Storage service user swift
SWIFT_PASS: 	
