[DEFAULT]
log_dir = /var/log/trove
trove_auth_url = http://{{ internal_vip }}:5000/v2.0
nova_compute_url = http://{{ internal_vip }}:8774/v2
cinder_url = http://{{ internal_vip }}:8776/v1
swift_url = http://{{ internal_vip }}:8080/v1/AUTH_
notifier_queue_hostname = controller
rpc_backend = rabbit

# Configuration options for talking to nova via the novaclient.
# These options are for an admin user in your keystone config.
# It proxy's the token received from the user to send to nova
# via this admin users creds,
# basically acting like the client via that proxy token.
nova_proxy_admin_user = admin
nova_proxy_admin_pass = ADMIN_PASS
nova_proxy_admin_tenant_name = service
taskmanager_manager = trove.taskmanager.manager.Manager

[database]
connection = mysql+pymysql://{{ trove_db_user }}:{{ trove_db_pass }}@{{ internal_vip }}/{{ trove_db_name }}

[oslo_messaging_rabbit]
rabbit_hosts = {{ rabbitmq_hosts }}
rabbit_virtual_host = {{ trove_rabbitmq_vhost }}
rabbit_userid = {{ trove_rabbitmq_vhost }}
rabbit_password = {{ trove_rabbitmq_vhost }}
