# {{ ansible_managed }}

[global]
fsid = {{ ceph_uuid }}
mon initial members = {% for host in groups['mons'] %}{{ host }}{% if not loop.last %},{% endif %}{% endfor %}

mon host = {{ ceph_mons }}
public network = {{ ceph_public_net }}
cluster network = {{ ceph_repl_net }}
auth cluster required = cephx
auth service required = cephx
auth client required = cephx
osd journal size = 1024
filestore xattr use omap = true
osd pool default size = 2
osd pool default min size = 1
osd pool default pg num = 333
osd pool default pgp num = 333
osd crush chooseleaf type = 1
mon_pg_warn_max_per_osd = 0


[client.glance]
keyring = /etc/ceph/ceph.client.glance.keyring
log file = /var/log/ceph/glance.log
[client.cinder]
keyring = /etc/ceph/ceph.client.cinder.keyring
log file = /var/log/ceph/cinder.log
[client.cinder-backup]
keyring = /etc/ceph/ceph.client.cinder-backup.keyring
log file = /var/log/ceph/cinder-backup.log
